.text-field {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: lightgray,white;
    -fx-font: 13px "Helvetica";
}

.text-field:focused {
   -fx-background-color : dodgerblue,white;
   -fx-background-insets: 0,1px;
}

.password-field {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: lightgray,white;
    -fx-font: 13px "Helvetica";
}

.password-field:focused {
   -fx-background-color : dodgerblue,white;
   -fx-background-insets: 0,1px;
}

.button {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font: 13px "Helvetica";
}

.button:hover {
    -fx-background-color: #1b86ee;
}

.button:pressed {
    -fx-background-color: #1a80e3;
}

.signup {
    -fx-text-fill: royalblue;
    -fx-cursor: hand;
}

.incorrect {
    -fx-text-fill: crimson;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-font: 13px "Helvetica";
}

.table-view .column-header {
    -fx-background-color: lightgray;
    -fx-border-color: c6c6c6;
}

.table-row-focused {
    -fx-background-color: dodgerblue;
}

.menu-bar {
    -fx-background-color: lightgray;
    -fx-font: 13px "Helvetica";
}

.menu:hover {
    -fx-background-color: dodgerblue;
}

.menu:active {
    -fx-background-color: dodgerblue;
}

.menu:pressed {
    -fx-background-color: dodgerblue;
}

.menu-item:focused {
    -fx-background-color: dodgerblue;
}

.menu-item:active {
    -fx-background-color: dodgerblue;
}

.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 5 5 5 5;
}